# Ignore terraform state and local cache directories
.terraform/
terraform.tfstate
terraform.tfstate.*

.venv/

# Node.js
node_modules/

# Build outputs
build/
dist/

# Environment variables
.env
.env.*

# Mac
.DS_Store

# Folder for temporary (AI generated) files that should not be committed
.temp/
tmp/

.claude/

# Frontend/Vite specific
coverage/
*.tsbuildinfo
vite-env.d.ts

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
*.pem
