# Ignore terraform state and local cache directories
.terraform/
terraform.tfstate
terraform.tfstate.*

.venv/

node_modules/
build/
dist/

# Environment variables
.env
.env.*

# Mac
.DS_Store

# Folder for temporary (AI generated) files that should not be committed
.temp/
