version: 2.1

orbs:
  aws-cli: circleci/aws-cli@5

parameters:
  run-component-tests:
    description: If true, runs backend component tests. Always runs on main branch.
    type: boolean
    default: false
  delete-services:
    description: If true, deletes the Terraform resources in AWS.
    type: boolean
    default: false

terraform_version: &terraform_version "1.14.5"
terraform_docker_image: &terraform_docker_image "hashicorp/terraform:1.14"

executors:
  node-medium-executor:
    docker:
      - image: cimg/node:22.13
    resource_class: medium
  node-small-executor:
    docker:
      - image: cimg/node:22.13
    resource_class: small

workflows:
  build-deploy:
    when:
      and:
        - not: << pipeline.parameters.delete-services >>
        - not: << pipeline.parameters.run-component-tests >>
    jobs:
      - check-format-files
      - lint-typescript-code
      - build-backend
      - run-backend-unit-tests
      - run-frontend-tests
      - lint-terraform-code
      - deploy-backend-and-infrastructure:
          requires:
            - check-format-files
            - lint-typescript-code
            - build-backend
            - run-backend-unit-tests
            - lint-terraform-code
      # Run component tests only on main branch
      - run-backend-component-tests:
          requires:
            - deploy-backend-and-infrastructure
          filters:
            branches:
              only:
                - main
      - build-and-deploy-frontend:
          requires:
            - run-frontend-tests
            - check-format-files
            - lint-typescript-code
            - deploy-backend-and-infrastructure

  component-tests:
    when:
      and:
        - not: << pipeline.parameters.delete-services >>
        - << pipeline.parameters.run-component-tests >>
    jobs:
      - run-backend-component-tests

  delete-services:
    when: << pipeline.parameters.delete-services >>
    jobs:
      - terraform-destroy

jobs:
  check-format-files:
    executor: node-small-executor
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: npm ci
      - install-terraform
      - run:
          name: Check file formatting
          command: npm run check-format

  lint-typescript-code:
    executor: node-small-executor
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: npm ci
      - run:
          name: Lint TypeScript code
          command: npm run lint

  build-backend:
    executor: node-medium-executor
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: npm ci
      - run:
          name: Build api-spec package
          command: |
            cd api-spec
            npm run build
      - run:
          name: Build backend
          command: |
            cd backend
            npm run build
      - persist_to_workspace:
          root: ~/project
          paths:
            - backend/build

  run-backend-unit-tests:
    executor: node-medium-executor
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: npm ci
      - run:
          name: Build api-spec package
          command: |
            cd api-spec
            npm run build
      - run:
          name: Run unit tests
          command: |
            cd backend
            npm run test:unit

  run-frontend-tests:
    executor: node-medium-executor
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: npm ci
      - run:
          name: Build api-spec package
          command: |
            cd api-spec
            npm run build

      - run:
          name: Run frontend tests
          command: |
            cd frontend
            npm run test:run

  lint-terraform-code:
    executor: node-small-executor
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: npm run install-lint-terraform
      - run:
          name: Lint Terraform code
          command: npm run lint:terraform

  run-backend-component-tests:
    docker:
      - image: cimg/node:22.10
    resource_class: medium
    steps:
      - checkout
      - aws-cli/setup:
          role_arn: "$AWS_ROLE_ARN"
      - run:
          name: Install dependencies
          command: npm ci
      - install-terraform
      - run:
          name: Build api-spec package
          command: |
            cd api-spec
            npm run build
      - run:
          name: Set environment variables for component tests
          command: |
            cd terraform
            terraform init -input=false

            # Create environment file for component tests
            echo "export COMPONENT_TESTS_COGNITO_REGION=$(terraform output aws_region)" >> terraform_output
            echo "export COMPONENT_TESTS_COGNITO_APP_CLIENT_ID=$(terraform output cognito_app_client_id)" >> terraform_output
            echo "export COMPONENT_TESTS_API_BASE_URL=$(terraform output api_versioned_url)" >> terraform_output
      - run:
          name: Run component tests
          command: |
            # Set environment variables for tests
            source ~/project/terraform/terraform_output

            cd backend
            npm run test:component

  # https://developer.hashicorp.com/terraform/tutorials/automation/circle-ci
  deploy-backend-and-infrastructure:
    docker:
      - image: *terraform_docker_image
    resource_class: medium
    steps:
      - checkout
      - attach_workspace:
          at: ~/project
      - aws-cli/setup:
          role_arn: "$AWS_ROLE_ARN"
      - run:
          name: Terraform init
          command: |
            cd terraform
            terraform init -input=false
      - run:
          name: Terraform plan
          command: |
            cd terraform
            terraform plan -out tfapply
      - run:
          name: Terraform apply
          command: |
            cd terraform
            terraform apply -auto-approve tfapply
      - run:
          name: Persist Terraform output for frontend
          command: |
            cd terraform

            echo "export NEXT_PUBLIC_COGNITO_REGION=$(terraform output aws_region)" >> terraform_output
            echo "export NEXT_PUBLIC_COGNITO_USER_POOL_ID=$(terraform output cognito_user_pool_id)" >> terraform_output
            echo "export NEXT_PUBLIC_COGNITO_APP_CLIENT_ID=$(terraform output cognito_app_client_id)" >> terraform_output
            echo "export NEXT_PUBLIC_API_BASE_URL=$(terraform output api_versioned_url)" >> terraform_output
      - persist_to_workspace:
          root: ~/project
          paths:
            - terraform/terraform_output

  build-and-deploy-frontend:
    executor: node-medium-executor
    steps:
      - checkout
      - attach_workspace:
          at: ~/project
      - aws-cli/setup:
          role_arn: "$AWS_ROLE_ARN"
      - run:
          name: Install dependencies
          command: npm ci
      - run:
          name: Prepare cache restoring
          command: |
            cd ~/project
            PREVIOUS_COMMIT=$(git rev-parse HEAD^)
            echo "Saving previous commit hash:"
            echo "$PREVIOUS_COMMIT" | tee cachekey
            echo "Saving current commit hash:"
            echo "$CIRCLE_SHA1" | tee current_commit
      - restore_cache:
          keys:
            - frontend-cache-{{ .Branch }}-{{ checksum "./current_commit" }}
            - frontend-cache-{{ .Branch }}-{{ checksum "./cachekey" }}
            - frontend-cache-main-{{ checksum "./cachekey" }}
      - run:
          name: Build and deploy
          command: |
            cd frontend

            # Set env variables for frontend build
            source ~/project/terraform/terraform_output

            ./build_on_change.sh ~/project/terraform/terraform_output

            echo "Saving current commit hash:"
            echo $CIRCLE_SHA1 | tee ../commit
      - save_cache:
          key: frontend-cache-{{ .Branch }}-{{ checksum "./commit" }}
          paths:
            - frontend/checksum.txt

  terraform-destroy:
    docker:
      - image: *terraform_docker_image
    resource_class: small
    steps:
      - checkout
      - aws-cli/setup:
          role_arn: "$AWS_ROLE_ARN"
      - run:
          name: Terraform init
          command: |
            cd terraform
            terraform init -input=false
      - run:
          name: Terraform plan destroy
          command: |
            cd terraform
            terraform plan -destroy -out tfdestroy
      - run:
          name: Terraform destroy
          command: |
            cd terraform
            terraform apply -auto-approve tfdestroy

commands:
  install-terraform:
    description: Install Terraform using the version specified in terraform_version anchor
    parameters:
      version:
        type: string
        default: *terraform_version
    steps:
      - run:
          name: Install Terraform
          command: |
            TF_VER=<< parameters.version >>
            TEMP_DIR=$(mktemp -d)
            curl --fail --location --output ${TEMP_DIR}/terraform.zip https://releases.hashicorp.com/terraform/${TF_VER}/terraform_${TF_VER}_linux_amd64.zip
            unzip ${TEMP_DIR}/terraform.zip -d ${TEMP_DIR}
            sudo mv ${TEMP_DIR}/terraform /usr/local/bin/
            terraform -version
            rm -rf ${TEMP_DIR}
